body {
  background: white;
  padding: 10px;
}
button {
  outline: none;
  border: none;
  background: #777;
  border-radius: 5px;
  display: block;
  width: 100%;
  color: white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
button:hover {
  background: #444;
}

button.disabled {
  background: #999 !important;
}

#wrapper {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
#buttons {
  display: flex;
  flex-direction: column;
}
#log {
  background: #eee;
  width: 100%;
  overflow: scroll;
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
}
#log p {
  margin: 0;
  position: relative;
  padding-left: 10px;
}
#log p:before {
  content: ">";
  position: absolute;
  top: 0;
  left: 0;
  color: #7b7b7b;
}
